<section
  powered-by="xiumi.us"
  style="
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.578px;
    text-wrap: wrap;
  "
>
  <section style="display: inline-block; width: 578px; vertical-align: top">
    <section powered-by="xiumi.us" style="">
      <section
        style="display: inline-block; vertical-align: bottom; width: 462.391px"
      >
        <section
          powered-by="xiumi.us"
          style="margin-bottom: 5px; text-align: left"
        >
          <section
            style="
              padding-right: 5px;
              padding-left: 5px;
              display: inline-block;
              min-width: 10%;
              vertical-align: top;
              border-style: none none solid;
              border-top-width: 5px;
              border-radius: 0px;
              border-top-color: rgb(244, 234, 213);
              border-bottom-width: 3px;
              border-bottom-color: rgb(244, 234, 213);
            "
          >
            <section
              powered-by="xiumi.us"
              style="text-align: justify; color: rgb(143, 139, 130)"
            >
              <p style="font-size: 24px">
                <span style="font-size: 20px"><strong>{text}</strong></span>
              </p>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
